<ion-tabs class="tabs-positive tabs-icon-top tabs-color-active-positive">

    <ion-tab title="Zákazník" icon-off="ion-information" icon-on="ion-information" ui-sref="objednavka.info">
        <ion-nav-view name="objednavka-tab-info"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Jídla" icon-off="ion-pizza" icon-on="ion-pizza" ui-sref="objednavka.jidla">
        <ion-nav-view name="objednavka-tab-jidla"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Nákup" icon-off="ion-ios-list-outline" icon-on="ion-ios-list-outline" ui-sref="objednavka.nakup">
        <ion-nav-view name="objednavka-tab-nakup"></ion-nav-view>
    </ion-tab>


</ion-tabs>
