<ion-view view-title="Objednávky">
    <ion-content class="">
        <ion-refresher
            pulling-text="Načíst objednávky z webu..."
            on-refresh="doRefresh()">
        </ion-refresher>
        <ul class="list">
            <li class="item" ng-class="{'item-icon-right': obj.done}" ng-repeat="obj in objs" ui-sref="objednavka.info({id: obj.id})">
                <h2>Objednávka č. 2015-{{obj.id}}</h2>
                <p>Počet položek: {{getPocetPolozek(obj)}}</p>



                <i ng-if="obj.done" class="icon ion-android-done"></i>
            </li>
        </ul>
    </ion-content>
</ion-view>
